*,
*::before,
*::after {
  box-sizing: border-box;
 }

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
p {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
.logo-conteyner {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 156px;
}
.logo-st {
    color: #2e2f42;
}
.addr {
    font-style: normal;
}
.list-main {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
 }
.list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin-left: 76px;
    margin-top: 24px;
    margin-bottom: 24px;
     }
.blok-top {
    background-color: #2e2f42;
}
.blok-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-top: 188px;
    margin-left: 472px;
    margin-right: 472px;
    margin-bottom: 48px;
}
.blok-btn {
    border-radius: 4px;
    background: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    margin-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
} 
 .blok-btn:hover,
 .blok-btn:focus {
    background-color: #404bbf ;
 }
 .cont-all {
    display: flex;
    text-align: center;
    margin: auto;
    width: 100%;
    flex-direction: column;
 }
.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    
}
.addr {
    display: flex;
    margin-left: 156px;
}
.navigator {
    display: flex;
}
.list-main:hover,
.list-main:focus {
    color: #404bbf;
}
.link:hover,
.link:focus {
    color: #404bbf;
}
.cont-goals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 156px;
    margin-right: 156px;
    margin-top: 120px;
    margin-bottom: 120px;
    align-items: center;
}
.our-goals-spus {
    list-style: none;
    display: flex;
}
.our-goals-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-goals-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.group-section {
    background-color: #f4f4fd 
    width: 1440px;
    height: 732px;
    
}
.group-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    text-align: center;

}
.group-section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.team {
    background-color: #f4f4fd
    list-style: none;
    display: flex;
    gap: 12px;
    align-items: center;
    width: calc((100%-72px) / 4);
}
.team-color {
    height: 380px;
    background-color: #fff;
    margin-top: 72px;
    padding-left: 156px;
    padding-bottom: 120px;
    width: calc((100%-72px) / 4);
}
.title-team-goals {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    display: none; 
}
.sect1 {
        width: calc((100%-72px) / 4);
        border-radius: 0 0 4px 4px;
        width: 264px;
        height: 380px;
        background: #fff;
           
        
}
.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 120px;
    margin: auto;
    text-align: center;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.title-potfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.footer-blok {
    background-color: #2e2f42;
}
.footer-blok-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-blok-link {
    color: #f4f4fd;
    text-decoration: none;
}
.logo-cont-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.logo-st-footer {
    color: #f4f4fd
}
.container {
    width: 1440px;
    height: 3300px;
    display: inline;
}
.container-top {
    height: 72px;
    display: flex;
    align-items: baseline;

}
.container-blok-top {
    width: 1440px;
    height: 600px;
}


